<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>StudyHub | 学習中</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>

    <header>
        <h1>StudyHub</h1>
        <p>学習中</p>
    </header>

    <main>

        <section class="timer-section">

            <h2>学習中</h2>

            <div class="study-info">
                <p><strong>学習科目：</strong>{{ subject }}</p>
                <p><strong>学習分野：</strong>{{ topic }}</p>
                <p><strong>学習内容：</strong>{{ content }}</p>
            </div>

            <div class="timer" id="timer">
                {{ minutes }}:00
            </div>

            <div class="timer-buttons">
                <button id="pause-button">一時停止</button>
                <button id="finish-button">学習終了</button>
            </div>

        </section>

    </main>

<script>
    const targetMinutes = Number("{{ minutes }}");
    let remainingSeconds = targetMinutes * 60;
    let elapsedSeconds = 0;

    const timerElement = document.getElementById("timer");
    const pauseButton = document.getElementById("pause-button");
    const finishButton = document.getElementById("finish-button");
    // 一時停止中かどうか
    let isPaused = false;

    function updateTimer() {
        const minutes = Math.floor(remainingSeconds / 60);
        const seconds = remainingSeconds % 60;

        timerElement.textContent =
            String(minutes).padStart(2, "0") +
            ":" +
            String(seconds).padStart(2, "0");
    }

    function countdown() {

        if (!isPaused && remainingSeconds > 0) {
            remainingSeconds--;
            elapsedSeconds++;
            console.log("学習時間:", elapsedSeconds);

            updateTimer();
        }
    }

    pauseButton.addEventListener("click", function () {

        // true と false を切り替える
        isPaused = !isPaused;

        if (isPaused) {
            pauseButton.textContent = "再開";
        } else {
            pauseButton.textContent = "一時停止";
        }
    });

    updateTimer();

    finishButton.addEventListener("click", function () {
    const params = new URLSearchParams({
        subject: "{{ subject }}",
        topic: "{{ topic }}",
        content: "{{ content }}",
        elapsed: elapsedSeconds
    });

    window.location.href = "/record?" + params.toString();
    });

    setInterval(countdown, 1000);
</script>

</body>

</html>